.form-container {
    display: flex;
    justify-content: center;

}

.form-cart {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    gap: 15px;
    font-family: 'Montserrat', sans-serif;
}
.cart-total {
    display: inline-block; 
    text-align: center;
    margin: auto;
    align-items: center;
    margin-top: 15px;
    background-color: rgb(201, 210, 218);
    padding: 10px; 
    margin-left: 279px;
}

.titulo-form{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

input {
    padding: 0 8px;
    vertical-align: middle;
    border-radius: 2px;
    width: 100%;
    min-height: 36px;
    background-color: #ffffff;
    border: 1px solid rgba(36,28,21,0.3);
    transition: all 0.2s ease-in-out 0s;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;

}
input:focus{
    outline: none;
    border: 1px solid #007c89;
    box-shadow: inset 0 0 0 1px #007c89;
}

.submit-form {
    
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
}
.submit-form:hover{
    transform: translateY(-2px);
}

.error-carrito-container{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.link-inicio{
    margin-top: 15px;
    font-size: 30px;
    background-color: rgba(212, 214, 214, 0.068);
    
}
